
 .ui-layout-center .ui-layout-unit-content {
     overflow-x:auto !important;
 }     
 
#websheet .ui-widget {
    font-size: 12px !important;	
}

#websheet .ui-inputfield {
    padding: 5px !important;
}

#websheet .ui-datatable td {
    padding: 2px !important;
}



#websheet .inputColumnWidth {
	width:  100% !important;
	padding: 0px 4px 0px 0px !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
    white-space: pre-wrap !important;
    border-radius: 0 !important;
}

#websheet .inputLabel {
	display: block;
	box-shadow: 0 2px 2px #8f8f8f inset !important;
	border: 1px solid #7096ab !important;
	
}


#websheet .singleLine {
       text-wrap:none !important;
       white-space:nowrap !important;
       overflow:hidden !important;
       text-overflow:ellipsis !important;
   }
   
#websheet .ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th  {
    padding: 0 !important;
}   
   
#websheet .icon_button {
	width: 1.2em !important;
}

#websheettabview .ui-tabs-panel {
	padding:0 !important;
}
