
 .ui-layout-center .ui-layout-unit-content {
     overflow-x:auto !important;
 }     
 
#websheet .ui-widget {
    font-size: 12px !important;	
}

#websheet .ui-inputfield {
    padding: 1px 3px !important;
}

#websheet .ui-datatable td {
    padding: 2px !important;
}

#websheet .ui-selectonemenu-label {
    overflow: visible !important;
}

#websheet .inputColumnWidth {
	width:  100% !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
    white-space: pre-wrap !important;
}

#websheet .inputColumnWidthCalendar input {

	width: calc(100% - 2.566em);  
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
	font-weight: normal !important;
 
}

#websheet .formFieldInputColumnWidthSelectOneMenu {
	text-align:right !important;
	width: 100% !important;
	min-width: 0 !important;
	display:block !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	font-weight: normal !important;
}

#websheet .formFieldInputColumnWidthSelectOneMenu .ui-selectonemenu-label{
	background: transparent !important;
}

#websheet .inputLabel {
	display: block;
	box-shadow: 0 2px 2px #8f8f8f inset !important;
	border: 1px solid #7096ab !important;
	
}


#websheet .singleLine {
       text-wrap:none !important;
       white-space:nowrap !important;
       overflow:hidden !important;
       text-overflow:ellipsis !important;
   }
   
#websheet .ui-datatable thead th, #websheet .ui-datatable tbody td, #websheet .ui-datatable tfoot td, #websheet .ui-datatable tfoot th  {
    padding: 0 !important;
}   
   
#websheet .icon_button {
	width: 24px !important;
}

#websheettabview .ui-tabs-panel {
	padding:0 !important;
}

#websheettabview .ui-tabs .ui-tabs-nav li a {
    height: 30px !important;
}

#websheet .ui-inputfield, #websheet .ui-widget-content .ui-inputfield, #websheet .ui-widget-header .ui-inputfield {
    line-height: 1.42 !important;
}

#websheet button.ui-datepicker-trigger {
    height: 23px !important;
    padding: 1px 10px !important;
}

#websheet div.ui-selectonemenu, #websheet div.ui-fluid div.ui-selectonemenu {
    height: 23px !important;
}	

#websheet button.ui-button {
    padding: 1px 12px !important;
}

#websheet .inputColumnWidth.errorMsg {
	display: block;
}
