
 .ui-layout-center .ui-layout-unit-content {
     overflow-x:auto !important;
 }     
 
#websheet .ui-widget {
    font-size: 12px !important;	
}

#websheet .ui-inputfield {
    padding: 5px !important;
}

#websheet .ui-datatable td {
    padding: 2px !important;
}



#websheet .inputColumnWidth {
	width:  100% !important;
	padding: 0px 4px 0px 0px !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
    white-space: pre-wrap !important;
    border-radius: 0 !important;
}

#websheet .icon_button {
	width: 1.2em !important;
}

#websheettabview .ui-tabs-panel {
	padding:0 !important;
}